# Front end
/app/frontend/node_modules

# Front end build artifacts
/public/bundles

npm-debug.log

/logs
/target
/project/target
/project/project/target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
